body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/beige-tiles.png);
    background-color: #97DEFF;
    color: #777777;
}

header {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: #ffffff;
    box-sizing: border-box;
    border-bottom: 2px solid;
    border-color: #cccccc;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

nav {
    float: right;
    position: relative;
    top: 50px;
}

footer {
    background-color: #666666;
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    border-top: 14px solid;
    border-color: teal;
}

h1 {
    position: relative;
    left: 10px;
    color: teal;
}

.heading {
    max-width: 960px;
    margin: auto;  
}

.logo {
    float: left;
    height: 40%;
    position: absolute;
    bottom: 0;
    background-color: teal;
    color: #fff;
    padding: 20px;
    font-size: 36px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 244px;
}

.navbutton {
    float: left;
}

.navbutton a {
    text-align: center;
    display: inline-block;
    width: 5em; 
    text-decoration: none;
    color: #666666;
}

.navbutton a:hover {
    color: teal;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.navline {
    width: 0px;
    height: 20px;
    float: left;
    border-left: 1px solid #B0B0B0;
    position: relative;
    bottom: 10px;
}

.container {
    max-width: 960px;
    margin: auto;
    position: relative;
    top: 120px;
    background-color: #ffffff;
    box-sizing: border-box;
    border: 2px solid;
    border-color: #dddddd;
    box-shadow: 5px 10px 18px #888888;
}

.body {
    margin: 15px;
}
.textposition {
    overflow: auto;
}

.link {
    text-decoration: none;
    color: #666666;
    font-weight: 550;
}

.link:hover {
    color: teal;
}

.portcontainer {
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.imgcontainer {
    position: relative;
    text-align: center;
    width: 200px;
    height: 250px;
    float: left;
    margin: 20px 33px 10px 33px;
}

.imgcontainer:hover {
    color: teal;
    transition: all .2s ease-in-out;
    transform: scale(1.04);
    box-shadow: 5px 10px 10px #888888;
}

.banner {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: teal;
    color: #ffffff;
    width: 100%;
    font-size: 14px;
}

.contactlabel {
    font-size: 18px;
    margin-bottom: 5px;
}
.input {
    box-sizing: content-box;
    border: 2px solid #888888;
    width: 898px;
    padding: 12px;
    height: 24px;
    font-size: 16px;
}

.inputmessage {
    box-sizing: content-box;
    border: 2px solid #888888;
    padding: 12px;
    width: 898px;
    height: 245px;
    font-size: 16px;
}

#profilepic {
    box-sizing: content-box;
    float: left;
    margin: 15px;
    overflow: auto;
    width: 250px;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 5px;
}

#submit {
    background-color: teal;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 105px;
    height:42px;
}

#submit:hover {
    background-color: #006666;
}

#footertext {
    text-align: center;
    position: relative;
    top: 40px;
    color: #ffffff;
    font-size: 12px;
    margin: auto;
}